@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');

$text-color-light:#FFFFFF;

$pm-12:12px;
$pm-16:16px;
$pm-20:20px;
$pm-24:24px;
$pm-28:28px;
$pm-32:32px;
$pm-40:40px;
$pm-48:48px;
$pm-56:56px;
$pm-64:64px;
$pm-68:68px;

.fz-20 {
    font-size: 20px;
   
}

.fz-24 {
    font-size: 24px;
}

.fz-64 {
    font-size: 64px;
}

.fz-80 {
    font-size: 80px;

}








*,*::before,*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

}




.header {
    height: 958px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("../img/bg/photo-bg.png") center;

    .header-content {
        width: 310px;
        color: $text-color-light;
        h1 {
            margin-bottom: $pm-32;
        }
        p {
            margin-bottom: $pm-40;
          
        }

    }
    .header-content .content-sns{
        display: flex;
        justify-content: space-between;
        a {
            width: 60px;
            height: 60px;
          
        }
       
    }

    
}


.about {
    padding: $pm-56 0 $pm-56 0 ;
    .about-title{
        margin-bottom: $pm-40;
    }

    .about-self-intro{
       border-bottom: 1px solid #000;
       width: 412px;
       margin-top: $pm-20;
       padding-bottom:$pm-24;
       li:nth-child(2){
        margin-bottom: 8px;
      
       }

    }

    .about-self-exp {
        padding-top:$pm-28;
        li {
            margin-bottom:$pm-24;

            &::before{
                content:"";
                display:inline-block;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: #891818;
                margin-right:$pm-16;
               

            }
        }
    }


}

.brand {
    color: $text-color-light;
    background: #000;
    padding-top:$pm-56;
    padding-bottom: 160px;
    .brand-intro {
            padding-top:$pm-12 ;
            padding-bottom: $pm-68;
            li:nth-child(1) {
                margin-bottom: $pm-32;
            }
    
        }
    .brand-imgs {
            li:nth-child(1) {
                margin-bottom: $pm-40;
            }
            li:nth-child(2) {
                display: flex;
                justify-content: space-between;
            } 
        }
}

.works {
    padding-top: $pm-56;
    padding-bottom: 144px;
    .works-intro {
        margin-bottom: $pm-56;
    }
    .works-imgs {
        li {
            display: flex;
            justify-content: space-between;
        }

        li:nth-child(1), li:nth-child(2) {
            margin-bottom:$pm-48;
        }

     
    
    }
}